<body>
  <content>
    <div id="map"></div>
    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5paKst7kP-INwPaSuqoak2nRGeJOSTQc&callback=initAutocomplete&libraries=places&v=weekly"
      defer></script>
    <style>
      var sidebar=document.getElementById("sidebar");
      var map=document.getElementById("map");
      map.style.width="70%";
    </style>
    <div id="sidebar">
      <div id="section1">
        <div class="line1 d-flex flex-row justify-content-between align-items-center mx-1">
          <div class="left-section">
            <p class="fw-bold"> <i class="bi bi-geo-alt-fill"></i> Thông tin địa điểm
            <p>
          </div>
          <button class="my-1 right-section align-self-start opacity-100 close"
            onclick="window.location.href='/Phuong-Map'">
            <i class="bi bi-x-square-fill text-danger"></i>
          </button>
        </div>
        <div id="locationInfo">
          <div class="line2 mx-2">{{querylocation.name}}</div>
          <div class="line3 mx-2">Địa chỉ: {{querylocation.diachi}}</div>
          <div class="line3 mx-2">Phường: {{querylocation.phuongID}} Quận: {{querylocation.quanID}}</div>
          <div class="line3 mx-2">Loại vị trí: {{querylocation.loaivitri}}</div>
          <div class="d-flex justify-content-between align-items-start my-2 mx-3 ms-2">
            <div class="line2">{{querylocation.quyhoach}}</div>
            <a href="/locationInfo?keyword={{querylocation.locationID}}">
              <img class="align-self-start" src="assets/img/infor.png" width="25px" height="25px">
            </a>
          </div>
          {{#if reports}}
          <div id="section2b">
            <div class="line1 d-flex flex-row justify-content-start align-items-center mx-1 my-1">
              <p class="fw-bold"><img class="align-self-start" src="assets/img/alert.png" width="25px" height="25px">
                Báo cáo:
              <p>
            </div>
            {{#each reports}}
            <div id="reportInfo">
              <div class="line2">{{reportType}}</div>
              <div class="line3">Tên người gửi: {{fullName}}</div>
              <div class="line3">Email: {{email}}</div>
              <div class="line3">Số điện thoại: {{phone}}</div>
              <div class="line3">Thời điểm gửi: {{thoidiemgui}}</div>
              <a href="/reportInfo?keyword={{reportID}}">
                <img src="assets/img/infor.png" width=25px height=25px>
              </a>
            </div>
            {{/each}}
          </div>
          {{/if}}
        </div>
      </div>
      <div id="section2a">
        <div class="line1 d-flex flex-row justify-content-start align-items-center mx-1">

          <p class="fw-bold"><i class="bi bi-badge-ad-fill"></i> Thông tin quảng cáo:
          <p>
        </div>


        {{#each billboards}}
        <div id="adInfo">
          <div class="d-flex justify-content-between align-items-start mx-3 my-3">
            <div class="line2">{{loai}}</div>
            <a href="/billboardInfo?keyword={{billboardID}}">
              <img src="assets/img/infor.png" width="25px" height="25px">
            </a>
          </div>
          <div class="line3 mx-3">Kích thước: {{kichthuoc}}</div>
          <div class="line3 mx-3">Hình thức: {{hinhthuc}}</div>

          {{#if reports}}
          <div id="section2b">
            <div class="line1 d-flex flex-row justify-content-start align-items-center mx-1">
              <p class="fw-bold align-self-end"><img class="align-self-start" src="assets/img/alert.png" width="25px" height="25px">
                Báo cáo:
              <p>
            </div>
            {{#each reports}}
            <div id="reportInfo">
              <div class="d-flex justify-content-between align-items-start my-3">
                <div class="line2">{{reportType}}</div>
                <a href="/reportInfo?keyword={{reportID}}">
                  <img class="me-1" src="assets/img/infor.png" width="25px" height="25px">
                </a>
              </div>
              <div class="line3">Tên người gửi: {{fullName}}</div>
              <div class="line3">Email: {{email}}</div>
              <div class="line3">Số điện thoại: {{phone}}</div>
              <div class="line3">Thời điểm gửi: {{thoidiemgui}}</div>
              
            </div>
            {{/each}}
          </div>
          {{/if}}
        </div>
        {{/each}}
      </div>
      <style>
        [id^="section"] {
          display: flex;
          flex-direction: column;
          align-items: stretch;
        }
      </style>
    </div>
  </content>
  <script>
    function initAutocomplete() {
      const temp = "{{querylocation.locationID}}";
      const map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: {{querylocation.toadoX}}, lng: {{querylocation.toadoY}} },
        zoom: 17,
        mapTypeId: "roadmap",
      });
      let currentQCIcon = "assets/img/QC.png";
      {{#each locations}}
        if ({{hasReport}} == false){
          currentQCIcon = "assets/img/QC.png";
        }
        else {
          currentQCIcon = "assets/img/BC.png";
        }
        let marker{{locationID}} = new google.maps.Marker({  
          position: new google.maps.LatLng({{toadoX}}, {{toadoY}}),
          icon: {
            url: currentQCIcon,
            scaledSize: new google.maps.Size(25, 25) // width and height in pixels
          },
          map: map
        });
        if ("{{locationID}}" == temp) 
        {  
          var newIcon = {
            url: "assets/img/X.png", // Replace with your new icon URL
            scaledSize: new google.maps.Size(25, 25) // width and height in pixels
          };
          marker{{locationID}}.setIcon(newIcon);
          google.maps.event.addListener(marker{{locationID}}, 'click', function() {
            window.location.href = "/Phuong-Map";
          });
        }
        else 
        {
          google.maps.event.addListener(marker{{locationID}}, 'click', function() {
            window.location.href = "/Phuong-Map-Detail?locationID=" + "{{locationID}}";
          });
        }
      {{/each}}
    }
    window.initAutocomplete = initAutocomplete;
  </script>
</body>