<body>
  <content>
    <div id="map"></div>
    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5paKst7kP-INwPaSuqoak2nRGeJOSTQc&callback=initAutocomplete&libraries=places&v=weekly"
      defer
    ></script>
    <style>
      var sidebar = document.getElementById("sidebar");
      var map = document.getElementById("map");
      map.style.width = "70%"; 
    </style>
    <div id="sidebar">
      <button class="close" onclick="window.location.href='/Phuong-Map'">Đóng</button>
      <div id="section1">
        <img src="assets/img/location.png" width=25px height=25px display=inline-block>
        <div class="line1" display="float">Thông tin địa điểm</div>
        <div id="locationInfo">
          <div class="line2">{{querylocation.name}}</div>
          <div class="line3">Địa chỉ: {{querylocation.diachi}}</div>
          <div class="line3">Phường: {{querylocation.phuongID}} Quận: {{querylocation.quanID}}</div>
          <div class="line3">Loại vị trí: {{querylocation.loaivitri}}</div>
          <div class="line2">{{querylocation.quyhoach}}</div>
          <a href="/Phuong-Map-Location?locationID={{querylocation.locationID}}">
            <img src="assets/img/infor.png" width=25px height=25px>
          </a>
          {{#if reports}}
            <div id="section2b">
              <img src="assets/img/alert.png" width=25px height=25px display=inline-block>
              <div class="line1">Báo cáo:</div>
                {{#each reports}}
                  <div id="reportInfo">
                    <div class="line2">{{reportType}}</div>
                    <div class="line3">Tên người gửi: {{fullName}}</div>
                    <div class="line3">Email: {{email}}</div>
                    <div class="line3">Số điện thoại: {{phone}}</div>
                    <div class="line3">Thời điểm gửi: {{thoidiemgui}}</div>
                    <a href="/Phuong-Map-Report?reportID={{reportID}}">
                      <img src="assets/img/infor.png" width=25px height=25px>
                    </a>
                  </div>
                {{/each}}
            </div>
          {{/if}}
      </div>
      </div>
      <div id="section2a">
        <img src="assets/img/ad.png" width=25px height=25px display=inline-block>
        <div class="line1">Thông tin bảng quảng cáo:</div>
        {{#each billboards}}
          <div id="adInfo">
            <div class="line2">{{loai}}</div>
            <div class="line3">Kích thước: {{kichthuoc}}</div>
            <div class="line3">Hình thức: {{hinhthuc}}</div>
            <a href="/Phuong-Map-Billboard?billboardID={{billboardID}}">
              <img src="assets/img/infor.png" width=25px height=25px>
            </a>
            {{#if reports}}
              <div id="section2b">
                <img src="assets/img/alert.png" width=25px height=25px display=inline-block>
                <div class="line1">Báo cáo:</div>
                {{#each reports}}
                  <div id="reportInfo">
                    <div class="line2">{{reportType}}</div>
                    <div class="line3">Tên người gửi: {{fullName}}</div>
                    <div class="line3">Email: {{email}}</div>
                    <div class="line3">Số điện thoại: {{phone}}</div>
                    <div class="line3">Thời điểm gửi: {{thoidiemgui}}</div>
                    <a href="/Phuong-Map-Report?reportID={{reportID}}">
                      <img src="assets/img/infor.png" width=25px height=25px>
                    </a>
                  </div>
                {{/each}}
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>
      <style>
        [id^="section"] {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        }
      </style>
    </div>
  </content>
  <script>
    function initAutocomplete() {
      const temp = "{{querylocation.locationID}}";
      const map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: {{querylocation.toadoX}}, lng: {{querylocation.toadoY}} },
        zoom: 17,
        mapTypeId: "roadmap",
      });
      let currentQCIcon = "assets/img/QC.png";
      {{#each locations}}
        if ({{hasReport}} == false){
          currentQCIcon = "assets/img/QC.png";
        }
        else {
          currentQCIcon = "assets/img/BC.png";
        }
        let marker{{locationID}} = new google.maps.Marker({  
          position: new google.maps.LatLng({{toadoX}}, {{toadoY}}),
          icon: {
            url: currentQCIcon,
            scaledSize: new google.maps.Size(25, 25) // width and height in pixels
          },
          map: map
        });
        if ("{{locationID}}" == temp) 
        {  
          var newIcon = {
            url: "assets/img/X.png", // Replace with your new icon URL
            scaledSize: new google.maps.Size(25, 25) // width and height in pixels
          };
          marker{{locationID}}.setIcon(newIcon);
          google.maps.event.addListener(marker{{locationID}}, 'click', function() {
            window.location.href = "/Phuong-Map";
          });
        }
        else 
        {
          google.maps.event.addListener(marker{{locationID}}, 'click', function() {
            window.location.href = "/Phuong-Map-Detail?locationID=" + "{{locationID}}";
          });
        }
      {{/each}}
    }
    window.initAutocomplete = initAutocomplete;
  </script>
</body>