<body>
  <content>
    <div id="map">
      <!-- 
        The `defer` attribute causes the callback to execute after the full HTML
        document has been parsed. For non-blocking uses, avoiding race conditions,
        and consistent behavior across browsers, consider loading using Promises.
        See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
        for more information.
        -->
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5paKst7kP-INwPaSuqoak2nRGeJOSTQc&callback=initAutocomplete&libraries=places&v=weekly"
        defer
      ></script>
    </div>
  </content>
  <script>
    function initAutocomplete() {
      const map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: {{locations.[0].toadoX}}, lng: {{locations.[0].toadoY}} },
        zoom: 19,
        mapTypeId: "roadmap",
      });
      let currentQCIcon = "assets/img/QC.png";
      {{#each locations}}
        let marker{{locationID}} = new google.maps.Marker({  
          position: new google.maps.LatLng({{toadoX}}, {{toadoY}}),
          icon: {
            url: currentQCIcon,
            scaledSize: new google.maps.Size(30, 30) // width and height in pixels
          },
          map: map
        });
        google.maps.event.addListener(marker{{locationID}}, 'click', function() {
          window.location.href = "/Phuong-Map-Detail?locationID=" + "{{locationID}}";
        });
      {{/each}}
    }
    window.initAutocomplete = initAutocomplete;
  </script>
</body>