<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>User Information</title>
</head>
<body>
   <h1>User Information</h1>
   <div>
       <h2>User ID: {{user.userID}}</h2>
       <h2>Password: {{user.password}}</h2>
       <h2>Role: {{user.chucvu}}</h2>
       <h2>Name: {{user.hoTen}}</h2>
       <h2>Date of Birth: {{user.nsinh}}</h2>
       <h2>Email: {{user.email}}</h2>
       <h2>Phone Number: {{user.sdt}}</h2>
       <h2>District: {{user.phuong}}</h2>
       <h2>Area: {{user.quan}}</h2>
   </div>
</body>
</html>