<body style="margin-top: 70px">
    <main>
        <div class="container">
            <!-- Row -->
            <div class="row">
                <!-- First Table -->
                <div class="p-3 text-center col-md-6">
                    <h2>Loại hình quảng cáo</h2>
                    <div class="card-header">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-6">Loại hình thức</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each loai}}
                                <tr>
                                    <td>
                                        <form action="/suaLoai/{{loaiID}}/{{loai}}" method="POST">
                                            <a class="p-2 bi bi-trash-fill  float-end text-danger"
                                                href="/xoaLoai/{{loaiID}}/{{loai}}"></a>
                                            <a class="p-2 bi bi-pencil dropdown text-danger float-end "
                                                id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                aria-expanded="false"></a>
                                            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                                                <!-- Dropdown items -->
                                                <div class="mb-3">
                                                    <label for="" class="form-label">Tên Loai</label>
                                                    <input type="text" class="form-control" name="LID" id="phuongID"
                                                        aria-describedby="helpId" placeholder="" required>
                                                </div>
                                                <button type="submit">Submit</button>
                                            </div>

                                        </form>{{loai}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                            <form action="/themLoaiQC" method="POST">
                                <div class="card-header">
                                    <!-- Dropdown element -->
                                    <button class="btn btn-secondary dropdown-toggle bg-primary float-end" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Tạo mới
                                    </button>
                                    <!-- Dropdown menu -->
                                    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                                        <!-- Dropdown items -->
                                        <div class="mb-3">
                                            <label for="" class="form-label">Tên loại hình quảng cáo</label>
                                            <input type="text" class="form-control" name="tenLoai" id="loaiID"
                                                aria-describedby="helpId" placeholder="" required>
                                            <label for="" class="form-label">ID</label>
                                            <input type="text" class="form-control" name="LID" id="loaiID"
                                                aria-describedby="helpId" placeholder="" required>
                                        </div>
                                        <button type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </table>
                    </div>
                </div>
                <!-- Second Table -->
                <div class="p-3 col-md-6 text-center">
                    <h2>Hình thức báo cáo</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="col-12">Hình thức báo cáo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each hinhThuc}}
                            <tr>
                                <td>

                                    <form action="/suaHinhthuc/{{hinhthuc}}" method="POST">
                                        <a class="p-2 bi bi-trash-fill  float-end text-danger"
                                            href="/xoaHinhThuc/{{hinhthuc}}"></a>
                                        <a class="p-2 bi bi-pencil dropdown text-danger float-end "
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                            aria-expanded="false"></a>
                                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                                            <!-- Dropdown items -->
                                            <div class="mb-3">
                                                <label for="" class="form-label">Tên hình thức</label>
                                                <input type="text" class="form-control" name="HT" id="phuongID"
                                                    aria-describedby="helpId" placeholder="" required>
                                            </div>
                                            <button type="submit">Submit</button>
                                        </div>

                                    </form>{{hinhthuc}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <form action="/themHinhThucQC" method="POST">
                            <div class="card-header">
                                <!-- Dropdown element -->
                                <button class="btn btn-secondary dropdown-toggle bg-primary float-end" type="button"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Tạo mới
                                </button>
                                <!-- Dropdown menu -->
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                                    <!-- Dropdown items -->
                                    <div class="mb-3">
                                        <label for="" class="form-label">Tên hình thức báo cáo</label>
                                        <input type="text" class="form-control" name="tenHinhThuc" id="HTID"
                                            aria-describedby="helpId" placeholder="" required>
                                        <label for="" class="form-label">ID</label>
                                        <input type="text" class="form-control" name="HTID" id="loaiID"
                                            aria-describedby="helpId" placeholder="" required>
                                    </div>
                                    <button type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </table>
                </div>
            </div>
        </div>

        <!-- Dropdown element -->

        </div>
        </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>