<body>
  <main>
    <form action="/themPhuong/{{quan.quanID}}" method="POST">
      <div class="card-header">
        <!-- Dropdown element -->
        <button class="btn btn-secondary dropdown-toggle bg-primary float-end" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Thêm phường
        </button>
        <!-- Dropdown menu -->
        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
          <!-- Dropdown items -->
          <div class="mb-3">
            <label for="" class="form-label">Tên Phường</label>
            <input type="text" class="form-control" name="PID" id="phuongID" aria-describedby="helpId" placeholder=""
              required>
          </div>
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
    <div class="card mx-5 fs-3 ">
      <div class="card-body text-center "><i class="bi bi-geo-alt px-3"></i><strong>Quận {{quan.quanID}}</strong>
        <form action="/suaQuan/{{@root.quan.quanID}}" method="POST">
          <a class="p-2 bi bi-pencil dropdown text-danger float-end " id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false"></a>
          <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
            <!-- Dropdown items -->
            <div class="mb-3">
              <label for="" class="form-label">Tên Quận</label>
              <input type="text" class="form-control" name="QID" id="quanID" aria-describedby="helpId" placeholder=""
                required>
            </div>
            <button type="submit">Submit</button>
          </div>

        </form>
      </div>
      <div class="card-footer px-5">
        <ul class="list-group card mx-5 fs-3" id="myList">

          {{#each phuong}}
          <li class="list-group-item">


            <div class="card-header "><i class="bi bi-geo-alt px-3"></i><strong>Phường {{phuongID}}
              </strong>


              <form action="/suaPhuong/{{phuongID}}/{{@root.quan.quanID}}" method="POST">
                <a class="p-2 bi bi-trash-fill  float-end text-danger"
                  href="/xoaPhuong/{{phuongID}}/{{@root.quan.quanID}}"></a>
                <a class="p-2 bi bi-pencil dropdown text-danger float-end " id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false"></a>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                  <!-- Dropdown items -->
                  <div class="mb-3">
                    <label for="" class="form-label">Tên Phường</label>
                    <input type="text" class="form-control" name="PID" id="phuongID" aria-describedby="helpId"
                      placeholder="" required>
                  </div>
                  <button type="submit">Submit</button>
                </div>

              </form>
              <!-- Dropdown element -->
            </div>

          </li>
          {{/each}}

        </ul>
      </div>
    </div>
    </div>



  </main>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

  <script>
    document.querySelectorAll('.delete').forEach(item => {
      item.onclick = () => {
        if (confirm('Do really want to remove this item?')) {
          item.parentElement.parentElement.parentElement.parentElement.remove();
        }
      }
    })
  </script>
</body>